<div class="row" style="height:60px"></div>  

<div class="container">
<div class="row">

<div class="col-md-6">
<div class="card">
  <div class="card-header" style="color:#FFF; font-weight:bold;">Total Campaigns - <%= @campaigns_count %></div>
  <div class="card-body" style="max-height:300px; overflow-y: scroll;">
    <% unless @campaigns.blank?
        @campaigns.each_with_index do |campaign, indx|
    %>
        <p><%= indx+1 %>) <%= campaign.title %>
    <%
        end
        end
    %>
  </div>
</div>
</div>
<div class="col-md-6">
<div class="card">
  <div class="card-header" style="color:#FFF; font-weight:bold;">Total Articles - <%= @articles_count %></div>
  <div class="card-body" style="max-height:300px; overflow-y: scroll;">
	  <table width=100% class="table table-bordered table-sm">
	    <thead class="table-heading">
	      <tr class="thead-light text-center">
	  		<th width="10%" rowspan="1" class="align-middle">No.</th>
			<th width="65%" rowspan="1" class="align-middle">Article</th>
			<th width="25%" rowspan="1" class="align-middle">Created by</th>
		</tr>
	</thead>
	<tbody>
		
    <% unless @articles.blank?
        @articles.each_with_index do |article, indx|
    %>
		<tr>
		<td style="text-align:center;"><%= indx+1 %></td>
        <td><i class="fas fa-volume-up"></i> <%= article.title.nil? ? "N/A" : article.title %></td>
		<td><%= User.find(article.user_id).username %></td>
		</tr>
		
    <%
        end
        end
    %>
</tbody>
</table>
  </div>
</div>
</div>
</div>
</div>