<footer class="footer fixed-bottom px-3 py-0 text-center" style="background-color: #adddfc; color:#043757;padding:10px 0 10px 0 !important; font-size:16px;">
    <!-- &copy; <script>document.write(new Date().getFullYear())</script> -->
    <!-- <a style="color:#61318f;cursor:pointer;text-decoration:none;font-size:18px !important;" href="https://www.launchvoicereader.com"> LaunchVoiceReader.com </a> -->
	<div class="container">
		<div class="row">
			<div class="col-sm">
				
			</div>
			<div class="col-sm">
				<!-- <div class="mx-auto" style="vertical-align: middle; text-align:center; padding-bottom:15px !important;"> -->
	      		  <strong>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Launch Voice Reader</strong>
			  	<!-- </div> -->
			</div>
			 <div class="col-sm text-right">
				<!-- <span data-toggle="dropdown"><i class="fas fa-bars"></i></span>
				        <div class="dropdown-menu" style="background-color: #F0F8FF;min-width: 210px;">
							<a href="http://launchvoicereader.com/" target="_new" class="footer-menu" style="color:#000;">Goto Main Site</a>
							<div class="dropdown-divider"></div>
							<a href="<%= !user_signed_in? ? '#':'/knowledge' %>" class="footer-menu" style="color:<%= !user_signed_in? ? '#808080':'#000' %>; " >Knowledge Base</a>
							<div class="dropdown-divider"></div>
							<a href="<%= !user_signed_in? ? '#':'/help' %>" class="footer-menu" style="color:<%= !user_signed_in? ? '#808080':'#000' %>; ">Help</a>
							<div class="dropdown-divider"></div>
							<a href="<%= !user_signed_in? ? '#':'/faq' %>" class="footer-menu" style="color:<%= !user_signed_in? ? '#808080':'#000' %>; ">FAQ</a>
							<div class="dropdown-divider"></div>
							<a href="/contacts/new" class="footer-menu" style="color: #000;">Contact Us</a>
							<div class="dropdown-divider"></div>
							<a href="<%= !user_signed_in? ? '#':'/support' %>" class="footer-menu" style="color:<%= !user_signed_in? ? '#808080':'#000' %>; ">Support</a>
							<div class="dropdown-divider"></div>
							<a href="/pricing" class="footer-menu" style="color:#000;">Pricing</a>
							<div class="dropdown-divider"></div>
							<a href="/terms" class="footer-menu" style="color: #000;">Terms & Conditions</a>
							<div class="dropdown-divider"></div>
							<a href="/privacy" class="footer-menu" style="color: #000;">Privacy</a>
							<div class="dropdown-divider"></div>
							<a href="/media" class="footer-menu" style="color: #000;">Media</a>
				        </div> -->
				    </div>
			</div>
		</div>
	</div>
		
</footer>