<nav class="navbar navbar-expand-lg navbar-dark navbar-laravel pr-0 py-2" style="">
	<% unless user_signed_in? %>
	<a class="navbar-brand js-scroll-trigger pt-0" href="/signin"> 
            <!-- <img src="/assets/logo-lvr.png" height="60"> -->
		<h1><span class=''> <i class="fas fa-rocket fa-2x" style="font-size:28px;"> </i> </span> <span  style="font-size:28px;"> Voice Reader </span></h1>
	</a>
	<ul class="navbar-nav ml-auto">
		<li> </li>
	<li class="nav-item sub-heading pt-1">
		<a class="nav-link" href="/quick_start">Quick Start</a>
	</li>
	<% if controller.controller_name != "registrations" %>
	<li class="nav-item dropdown-studio sub-heading pt-1">
		<a class="nav-link" href="/signup" data-placement="bottom" data-toggle="tooltip" data-original-title="Signup">
			Sign Up
		</a>
	</li>
	<% end %>
	</ul>
	<% else %>
	<a class="navbar-brand js-scroll-trigger pt-0" href="/dashboard/index/">
		<!-- <span class='text-black heading-semibold'> <i class="fas fa-rocket" style="font-size:28px;padding-top:12px!important; padding-bottom:12px!important;"> </i> Voice Reader </span> -->
		<h1><span class=''> <i class="fas fa-rocket fa-2x" style="font-size:28px;"> </i> </span> <span  style="font-size:28px;"> Voice Reader </span></h1>
		<!-- <img src="/assets/logo-lvr.png" height="60"> -->
	</a>
	<% end %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<% unless user_signed_in? %>
			<% if controller.controller_name != "sessions" %>
			<li class="nav-item sub-heading">
				<a class="nav-link" href="/signin">Sign In</a>
			</li>
			<% end %>
			<% else %>
			<% if controller.controller_name != "dashboard" %>
			<li class="nav-item  dropdown dropdown-studio sub-heading pt-1">
				<a class="nav-link" href="/dashboard/index/" data-placement="bottom" data-toggle="tooltip" data-original-title="Dashboard">
					Home
				</a>
			</li>
			<li class="nav-item  dropdown dropdown-studio sub-heading pt-1">
				<a class="nav-link <%= controller.controller_name=="access_codes"? 'nav-active' : '' %>" href="/voice-reader-studio/campaigns" data-placement="bottom" data-toggle="tooltip" data-original-title="View All Campaigns">
					Campaigns
				</a>
			</li>
			<li class="nav-item  dropdown dropdown-studio sub-heading pt-1">
				<a class="nav-link <%= controller.controller_name=="speeches"? 'nav-active' : '' %>" href="/voice-reader-studio/articles" data-placement="bottom" data-toggle="tooltip" data-original-title="View All Articles">
					Articles
				</a>
			</li>
			<li class="nav-item  dropdown dropdown-studio sub-heading pt-1">
				<a class="nav-link <%= controller.controller_name=="skills"? 'nav-active' : '' %>" href="/voice-chimp-skill/details" data-placement="bottom" data-toggle="tooltip" data-original-title="Skill Details">
					Skill
				</a>
			</li>
			<% end %>
					
					
			<!-- Updated Signout with Account update based on the discussion on 10/24/2020 -->
			<li class="nav-item  dropdown dropdown-studio sub-heading pt-1">
				<a class="nav-link text-white <%#= controller.controller_name=="users"? 'nav-active' : '' %>" href="/users/edit" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings">
					<%= current_user.username %>
				</a>
			</li>
			
			<li class="nav-item  dropdown dropdown-studio sub-heading pt-1">
				<a class="nav-link" href="/signout" data-placement="bottom" data-toggle="tooltip" data-original-title="Sign Out">
					<i class="fas fa-sign-out-alt"></i> <!-- Sign Out -->
				</a>
			</li>
			
			<!-- <li class="nav-item dropdown dropdown-analytics sub-heading  pt-1">
				<a class="nav-link text-black dropdown-toggle" href="#"> <i class="fas fa-user"></i> <%= current_user.username %></a>
				<div class="dropdown-menu analytics-menu">
					<a class="dropdown-item sub-heading pt-2" style="font-size:16px !important" href="/users/edit"> <i class="fas fa-cog" aria-hidden="true"></i> Settings</a>
					<a class="dropdown-item sub-heading pt-2" style="font-size:16px !important" href="/auth/logout"> <i class="fas fa-sign-out-alt"></i> Sign Out</a>
				</div>
			</li> -->
					
			<% end %>
		</ul>

	</div>
</nav>