<div class="row" style="height:20px"></div>  
<div class="container">
	<span class="heading"> <i class="fas fa-layer-group"></i> Create/Edit Campaign</span>
	
	<div class="row justify-content-center">
		<div class="col-md-10">
			<!-- Remove the outline - 07/16/2020 - by Jude -->
			<!-- <div class="card" style="width:900px;"> -->
				<div class="card" style="border:none;">
					<div class="card-body" style="height:auto;">
						<%= form_with(model: access_code, local: true, id: 'edit-campaign') do |form| %>
						<p id="notice"><%#= notice %></p>
						<%= render "layouts/shared/flash_message" %>
						<div class="form-group row"></div>
						<div class="form-group row">
							<label for="password" class="col-md-4 col-form-label text-md-right text-bold">Campaign Name </label>
							<div class="col-md-6">
								<%= form.text_field :title, id: :access_code_title, class: "form-control required", placeholder: 'Required' %>
							</div>
						</div>
									
						<div class="form-group row">
							<label for="password" class="col-md-4 col-form-label text-md-right text-bold">Campaign Status </label>
							<div class="col-md-6 pt-2">
								<input id="status" name="status" type="checkbox" value="Active" checked="checked" disabled /> Active <span style="font-style:italic;font-size:12px;padding-right:20px;">( For Future Use )</span>
							</div>
						</div>
									
						<div class="form-group row">
							<label for="password" class="col-md-4 col-form-label text-md-right text-bold">Campaign Type </label>
							<div class="col-md-6 pt-2">
								<input id="type" name="type" type="checkbox" value="Paid" checked="checked" disabled /> Paid <span style="font-style:italic;font-size:12px;padding-right:20px;">( For Future Use )</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 actions text-left" style="padding:30px 40px 30px 18px; bottom: 0; left: 0;">
												
							</div>
                              
							<div class="col-md-6 actions text-right" style="padding:60px 20px 30px 0; bottom: 0; right: 0;">
								<%= link_to 'Cancel', access_codes_path, class: "btn btn-outline-primary" %>
								<span style="padding-left:20px;"></span>
								<%= form.submit "Submit", id: 'campaign-save', class: "btn btn-outline-primary" %>
							</div>
							<% end %>
						</div>
					</div>  

				</div>
			</div>
                              
		</div>
						
	</div>                              
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="FAQcontentModal-campiagn" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<div class="col-md-6">
	<h5 class="modal-title" id="exampleModalLabel">FAQ</h5>
</div>
<div class="col-md-3 text-right" >
	<!-- <audio id="audioPlayback" controls> -->
		<audio id="audioPlayback">
			<source id="audioSource" type="audio/mp3" src="">
		</audio>
		<button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Close">
			<i class="fa fa-times-circle fa-lg"></i> 
		</button>
	</div>
</div>
<input type="hidden" id="speech_content" />
<div id="contentDetails" class="modal-body">
	<%= render "layouts/shared/faq" %>
</div>
<div class="modal-footer">
	<div class="col-md-6"></div>
	<div class="col-md-6 offset-md-5 text-right">
		<button type="button" class="btn btn-outline-primary close-modal" data-dismiss="modal">Close</button>
	</div>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">

$(document).ready(function() {

	var form = $('#edit-campaign'),
	  original = form.serialize()

	form.submit(function(){
		window.onbeforeunload = null;
	})

	window.onbeforeunload = function(){
		
	  if (form.serialize() != original)
	    return 'Are you sure you want to leave?'
	}

});

</script>