<div class="row" style="height:20px"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<span class="heading"> <i class="fas fa-layer-group"></i> All Campaigns</span>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4 text-right table-heading">
			<% if current_user.access_code.present? %>
			<%= link_to "View Articles", speeches_path, style:"color:#000;cursor: pointer;text-decoration:none;"%>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 offset-md-1 pb-3"><h5 style="padding: 2px 5px 2px 0px;color:#5C5656;text-align:left;font-size:22px !important;"><%#= notice %></h5></div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-12">
			<!-- Remove the outline - 07/16/2020 - by Jude -->
			<!-- <div class="card" style="width:100%;"> -->
			<div class="card" style="width:100%; border:none !important;">
				<div class="card-body" style="height:auto;">
					<% if @access_codes.blank? %>
					<div class="row" style="height:60px"></div>
					<div class="col-md-8 offset-md-4 align-self-center">  <%= link_to 'Create your first campaign', new_access_code_path, class: 'btn btn-outline-primary', style:"font-size:20px!important;" %></div>
					<% else %>
					<div class="row justify-content-end" style="text-align: right !important;">
						<%= will_paginate @access_codes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
					</div>
					<table width=100% class="table table-bordered table-sm">
						<thead class="table-heading">
							<tr class="thead-light text-center">
								<!-- As per the discussion on 10/29/2020 Listener Group was removed by Jude on 10/30/2020 -->	
								<th width="5%" rowspan="1" class="align-middle">No.</th>
								<!-- <th width="45%" colspan="2"class="align-top">Listener Group</th> -->
								<th width="15%" rowspan="1" class="align-middle">Campaign Access Code *</th>
								<!-- As per the discussion on 07/14/2020 it was updated by Jude on 07/15/2020 -->
								<!-- <th width="40%" rowspan="2" class="align-top">Campaign Name (Article Count)</th> -->
								<th width="35%" rowspan="1" class="align-middle">Campaign Name **</th>
								<th width="15%" rowspan="1" class="align-middle">Campaign Status</th>
								<!-- <th width="40%" rowspan="1" class="align-middle"># of Articles</th>  -->
								<% if current_user.super_vc_admin? %>
								<th width="20%" rowspan="1" class="align-middle">Owner</th>
								<th width="20%" rowspan="1" class="align-middle">Action</th>
								<% end %>
							</tr>
							<!-- As per the discussion on 10/29/2020 Listener Group was removed by Jude on 10/30/2020 -->	
							<!-- <tr class="thead-light text-center align-top">
								<th width="30%" class="align-top">Name</th>
								<th width="15%" class="align-top">Code</th>
								</tr> -->
							</thead>
							<tbody>
								<% @access_codes.each_with_index do |code, indx| %>
								<tr>
									<td style="text-align:center;"><%= indx+1 %></td>
									<td style="text-align:center;"><%= link_to edit_access_code_path(code), style:"color:#000;cursor: pointer;text-decoration:none;" do %><%= code.code %><%end%></td>
									<!-- As per the discussion on 07/14/2020 it was updated by Jude on 07/15/2020 -->
									<td style="text-align:center;"><%= link_to view_article_path(code), style:"color:#000;cursor: pointer;text-decoration:none;" do %> <%= code.title %> <!-- <i class="fa fa-link" style="font-size:14px; color: #61318f !important;" aria-hidden="true"></i> --> <% end %></td>
									<td style="text-align:center;"><%= @status %></td>
									<% if current_user.super_vc_admin? %>
									<td style="text-align:center;"><%= owner(code.user_id) %></td>
									<td style="text-align:center;"><%#= link_to 'Show', code %>
										<%#= link_to 'Edit', edit_access_code_path(code) %>
										<%#= link_to 'Delete', code, method: :delete, data: { confirm: 'Are you sure?' }, style:"text-decoration: none" %>
										<%= link_to 'Delete', code, method: :delete, data: {confirm: 'Are you sure you want to delete this campaign?', title: 'Confirm Deletion', commit: 'Yes do it!', cancel: 'Not really!' }, style: "text-decoration:none; color:red;", id: "delete-btn" %>
									</td>
									<% end %>
								</tr>
								<% end %>
							</tbody>
						</table>
						<% end %>
						<br/>
						<span style="font-size:14px">* - To access the skill from voice devices </span>
						<br/>
						<span style="font-size:14px">** - To view articles in a campaign or create a new one, click  Campaign name. </span>
						
						<% unless @access_codes.blank? %>
						<div class="row justify-content-end" style="text-align: right !important;">
							<%= will_paginate @access_codes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
						</div>
						<% end %>
						<br/>
						<div class="actions text-right" style="padding:5px 5px 30px 0; bottom: 0; right: 0;">
							<% if current_user.super_vc_admin? && !@access_codes.blank? %>
							<%= link_to 'Create Campaign', new_access_code_path, class: 'btn btn-outline-primary' %>
							<% else %>
							<% if @access_codes.blank? %>
							<%#= link_to 'Create Campaign', new_access_code_path, class: 'btn btn-outline-primary' %>
							<% else %>
							<!-- As per the discussion on 07/14/2020 show the disable button on the list screen for normal users by Jude on 07/15/2020 -->
							<button disabled class="btn btn-outline-primary"> Create Campaign </button>
							<br/>
							<span style="font-style:italic;font-size:12px;padding-right:20px;">Coming Soon...</span>
							<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="FAQcontentModal-campiagn" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="col-md-6">
							<h5 class="modal-title" id="exampleModalLabel">FAQ</h5>
						</div>
						<div class="col-md-3 text-right" >
							<button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Close">
								<i class="fa fa-times-circle fa-lg"></i> 
							</button>
						</div>
					</div>
					<div id="contentDetails" class="modal-body">
						<%= render "layouts/shared/faq" %>
					</div>
					<div class="modal-footer">
						<div class="col-md-6"></div>
						<div class="col-md-6 offset-md-5 text-right">
							<button type="button" class="btn btn-outline-primary close-modal" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>