<div class="row" style="height:60px"></div>  
<div class="container">
<div class="row justify-content-center">
<div class="col-md-10">
<div class="card" style="width:100%;">
                    <div class="card-header text-white text-bold">Manage Groups</div>
                    <div class="card-body" style="height:360px;">
<!-- <p id="notice"><%#= notice %></p> %> -->

<div class="row justify-content-end" style="text-align: right !important;">
<%= will_paginate @access_codes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<table width=100% border=1px>
  <thead>
    <tr align="center">
      <th>Group Access Code </th>
      <th>Group Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @access_codes.each do |code| %>
      <tr>
        <td style="text-align:center;"><%= code.code %></td>
        <td style="text-align:center;"><%= code.title %></td>
        <td style="text-align:center;"><%#= link_to 'Show', code %>
        <%= link_to 'Edit', edit_access_code_path(code) %>
        <%#= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<div class="row justify-content-end" style="text-align: right !important;">
<%= will_paginate @access_codes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<br/>

<div class="actions text-right" style="padding:0 40px 30px 0; position: absolute; bottom: 0; right: 0;">
<%= link_to 'Create Group', new_access_code_path, class: 'btn btn-outline-primary' %>
</div>

</div>
</div>
</div>
</div>