<div class="container">	
<div class="row" style="height:20px;"></div>
<span class="heading"> <i class="fas fa-clone"></i> Skill details</span>
<div class="row" style="height:40px;"></div>
<% 
    speech_arr = [] 
    unless @access_codes.blank?
        @access_codes.each do |access_code|
			acsm = AccessCodeSpeechMap.where(access_code_id: access_code.id)
			speech_ids = acsm.map{|acsm| acsm.speech_id}
			published_articles = Speech.where(id: speech_ids, published: true).order('updated_at DESC')
		  
		%>
	    <div class="row">		
		
    <div class="card" style="width:100%;">
    <div class="card-header text-black">
        <div class="row">
			<% if current_user.super_vc_admin? %>
            	<div class="col-md-8 pl-0 table-heading"><i class="fas fa-clone"></i> <%= access_code.title.titlecase %> campaign</div>
				<div class="col-md-4 text-right pl-0 table-heading"><i class="fas fa-clone"></i> <%= owner(access_code.user_id).titlecase %></div>
			<% else %>
            	<div class="col-md-8 pl-0 table-heading"> <%= access_code.title.titlecase %> campaign</div>
			<% end %>
            </div>
    </div>
    <div class="card-body">
        <div class="row">
        <!-- column 1 -->
        <div class="col-md-12">
            <div class="row" style="height:30px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Skill Name: </div>
                <div class="col-md-4">Voice Reader <span data-toggle="tooltip" title="This is the name of the skill"><%= image_tag("/assets/icon-info.png") %></span></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Campaign Name: </div>
                <div class="col-md-4"><%= access_code.title %></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Campaign Access Code: </div>
                <div class="col-md-4"><%= access_code.code %></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Instructions: </div>
                <div class="col-md-8">
                    Share this code with your users (audience/listeners/subscribers). 
					Your users will be prompted to subscribe using this code on Alexa the first time they invoke the skill. 					After that they can listen to the content anytime, anywhere.
                </div>
            </div> 
            <div style="height: 30px;"></div>
         </div>
         <!-- column 2 -->
        <!-- <div class="col-md-4"><div style="padding-top:50px;"><%#= image_tag('/assets/amazon-echo-dot.png', :size => "320x320") %> </div></div> -->

        <table class="table table-bordered">
            <thead class="thead-light h5 font-weight-bold">
                <tr>
                    <!-- Commented by Jude on 04/10/2020 Hide the header based on the discussion -->
                    <th scope="col"><!-- Articles (<%#= speech_arr.length %>) -->
                    <div class="row">
            <div class="col-md-8 pl-0 table-heading"><i class="fas fa-newspaper"></i> 
				<!-- Active articles in the skill for <%#= @access_code.title %> --> 
				Articles available for listening
			</div>
            <div class="col-md-4 text-right table-heading">
              <span style="cursor: pointer;" class="campaing-show">Published</span>
            </div>
        </div>
                    </th>
                </tr>
            </thead>
            <% published_articles.each_with_index do |speech, indx| %>
				<% p speech.title %>
                <% if indx < 2 %>
                <tbody class="">
                    <tr style="cursor:pointer;" onclick='location.href="<%= edit_speech_path(speech, pg: "skill_details" ) %>"'>
                        <td>
                            <p class="content"><!-- Title: --> 
								<%#= !speech.title.blank? ? speech.title : 'N/A' %>
								<%= !speech.name.blank? ? speech.name.titlecase : 'N/A' %> 
                            <!-- <span style="padding: 1px 5px 1px 5px; color:#FFF; background-color: <%#= speech.published? ? 'green' : !speech.published? ? 'orange' : "" %>;"><strong><%#= speech.published? ? 'Published' : !speech.published? ? 'Draft' : "" %></strong></span> -->
                            <span style="padding: 3px 5px 1px 2px;">
                                <span style="float: right; padding-right:10px; font-size:14px; letter-spacing:0px; font-weight:bold;">    
                                  <!-- <a href="/voice-chimp-studio/articles/<%#= speech.id %>/edit" class="btn btn-outline-success py-0 px-1"><i class="fas fa-external-link-alt fa-1x"></i></a> -->
                                </span>
                                <span style="float: right; padding-right:10px; font-size:14px; letter-spacing:0px; font-weight:bold;">
                                  <!-- updated by Jude on 04/18/2020 to change the redirect url to skill details 
                                  <%#= link_to("/speeches/published_details/#{speech.id}",style:"text-decoration:none;",class:"btn btn-outline-success px-1 py-0") do %>Published<!% end %> -->
                                  <!-- <%#= link_to("/voice-chimp-skill/details",style:"text-decoration:none;",class:"btn btn-outline-success px-1 py-0") do %>Published<!% end %> -->
                                </span>
                                <span style="float: right; padding-right:10px; font-size:14px; letter-spacing:0px; font-weight:bold;">
                                  <%#= image_tag 'icon-calendar', alt: "calendar" %><b data-toggle="tooltip" data-placement="top" title="The Date article was created/updated"> <%= speech.updated_at.strftime("%m/%d/%Y") %> </b>
                                </span>
                              </span>
                            </p>
                            <p class="content"><%#= !speech.email_from.blank? ? speech.email_from.rstrip.concat('.') : '' %> <%#= speech.content %></p>
                        </td>
                    </tr>
                </tbody>
                <% end %>
            <% end %>
        </table>
</div>

<div style="height: 10px;"></div>
   </div>
</div>

</div>
<br/>

<% end
end %>