<div class="row" style="height:40px;"></div>
<% if @access_code.blank? %>

<% else 
    speech_arr = [] 
    if @access_code.access_code_speech_map.blank?

    else
        @access_code.access_code_speech_map.each do |acsm|
        if acsm.speech.published?
          speech_arr << acsm.speech 
        end
        end    
    end %>

    <div class="container">
<!--     <div class="row text-center">
      <div class="col-md-4">
    <div class="card">
      <div class="card-header studio-card-header" style="<%= (controller.controller_name == "dashboard" || controller.controller_name == "dashboard") ? 'background-color:#D3D3D3 !important;' : '' %>"><h6 style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:18px !important;color:#FFF;padding-top:3px;"><i class="fas fa-assistive-listening-systems"></i> Voice Chimp Studio </h6></div>
      <div class="card-body studio-card-body text-left mt-0 p-0" style="border: 0.01rem solid #bbb !important; display:none;">
        <ul class="list-group list-group-flush mt-0">
          <li class="list-group-item mt-0" onclick="location.href='/voice-chimp-studio/campaigns'"><i class="fas fa-layer-group"></i> Campaigns</li>
          <li class="list-group-item mt-0" onclick="location.href='/voice-chimp-studio/articles'"><i class="fas fa-newspaper"></i> Articles</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header skill-card-header"><h6 style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:18px !important;color:#FFF;padding-top:3px;"> <i class="fas fa-microphone"></i> Voice Chimp Skill </h6></div>
      <div class="card-body skill-card-body text-left mt-0 p-0" style="border: 0.01rem solid #bbb !important; display:none;">
        <ul class="list-group list-group-flush mt-0">
          <li class="list-group-item mt-0 active" onclick="location.href='/voice-chimp-skill/details'"><i class="fas fa-clone"></i> Published Details</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header anal-card-header" style="<%= (controller.controller_name == "dashboard" || controller.controller_name == "dashboard") ? 'background-color:#D3D3D3 !important;' : '' %>"><h6 style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:18px !important;color:#FFF;padding-top:3px;"><i class="fas fa-chart-pie"></i> Voice Chimp Analytics </h6></div>
      <div class="card-body anal-card-body text-left mt-0 p-0" style="border: 0.01rem solid #bbb !important; display:none;">
      </div>
    </div>
  </div>
    </div> 
    <div class="row" style="height:40px;"></div> -->

    <div class="card" style="width:100%;">
    <div class="card-header text-black">
        <div class="row">
            <div class="col-md-6 pl-0 table-heading"><i class="fas fa-clone"></i> Skill details for <%= @access_code.title %></div>
            </div>
    </div>
    <div class="card-body">
        <div class="row">
        <!-- column 1 -->
        <div class="col-md-12">
            <div class="row" style="height:30px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Skill Name: </div>
                <div class="col-md-4">Voice Reader <span data-toggle="tooltip" title="This is the name of the skill"><%= image_tag("/assets/icon-info.png") %></span></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Campaign Name: </div>
                <div class="col-md-4"><%= @access_code.title %></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Listener Access Code: </div>
                <div class="col-md-4"><%= @access_code.code %></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Instructions: </div>
                <div class="col-md-8">
                    Share this access code to your audiance/subscribers to access the content from skill.
                    After a user invokes the "Voice Reader" skill, they will be prompted for the access code - <%= @access_code.code %>,
                    and then they will be able to listen to the articles.
                </div>
            </div> 
            <div style="height: 30px;"></div>
         </div>
         <!-- column 2 -->
        <!-- <div class="col-md-4"><div style="padding-top:50px;"><%#= image_tag('/assets/amazon-echo-dot.png', :size => "320x320") %> </div></div> -->


        <table class="table table-bordered">
            <thead class="thead-light h5 font-weight-bold">
                <tr>
                    <!-- Commented by Jude on 04/10/2020 Hide the header based on the discussion -->
                    <th scope="col"><!-- Articles (<%#= speech_arr.length %>) -->
                    <div class="row">
            <div class="col-md-6 pl-0 table-heading"><i class="fas fa-newspaper"></i> Active articles in the skill for <%= @access_code.title %> </div>
            <div class="col-md-6 text-right table-heading">
              <span style="cursor: pointer;" class="campaing-show">Published</span>
            </div>
        </div>
                    </th>
                </tr>
            </thead>
            <% speech_arr.sort_by(&:updated_at).reverse.each_with_index do |speech,indx| %>
                <% if indx < 2 %>
                <tbody class="">
                    <tr style="cursor:pointer;" onclick='location.href="<%= edit_speech_path(speech, pg: "skill_details" ) %>"'>
                        <td>
                            <p class="content">Title: <%= !speech.title.blank? ? speech.title : 'N/A' %> 
                            <!-- <span style="padding: 1px 5px 1px 5px; color:#FFF; background-color: <%#= speech.published? ? 'green' : !speech.published? ? 'orange' : "" %>;"><strong><%#= speech.published? ? 'Published' : !speech.published? ? 'Draft' : "" %></strong></span> -->
                            <span style="padding: 3px 5px 1px 2px;">
                                <span style="float: right; padding-right:10px; font-size:14px; letter-spacing:0px; font-weight:bold;">    
                                  <!-- <a href="/voice-chimp-studio/articles/<%#= speech.id %>/edit" class="btn btn-outline-success py-0 px-1"><i class="fas fa-external-link-alt fa-1x"></i></a> -->
                                </span>
                                <span style="float: right; padding-right:10px; font-size:14px; letter-spacing:0px; font-weight:bold;">
                                  <!-- updated by Jude on 04/18/2020 to change the redirect url to skill details 
                                  <%#= link_to("/speeches/published_details/#{speech.id}",style:"text-decoration:none;",class:"btn btn-outline-success px-1 py-0") do %>Published<!% end %> -->
                                  <!-- <%#= link_to("/voice-chimp-skill/details",style:"text-decoration:none;",class:"btn btn-outline-success px-1 py-0") do %>Published<!% end %> -->
                                </span>
                                <span style="float: right; padding-right:10px; font-size:14px; letter-spacing:0px; font-weight:bold;">
                                  <%#= image_tag 'icon-calendar', alt: "calendar" %><b data-toggle="tooltip" data-placement="top" title="The Date article was published/updated"> <%= speech.updated_at.strftime("%m/%d/%Y") %> </b>
                                </span>
                              </span>
                            </p>
                            <p class="content"><%= !speech.email_from.blank? ? speech.email_from.rstrip.concat('.') : '' %> <%= speech.content %></p>
                        </td>
                    </tr>
                </tbody>
                <% end %>
            <% end %>
        </table>
    
</div>
<div style="height: 10px;"></div>
<% end %>    </div>
</div>

</div>
