<div class="row" style="height:30px;"></div>
<div class="container">
  <!-- Remove the outline - 07/16/2020 - by Jude -->
  <!-- <div class="container-fluid px-0" style="border:1px solid #E9ECEF;"> -->
<div class="row" style="height:20px;"></div>
<% p "@@@ #{@speech_access_code}" %>
<span class="heading" style="padding-left:120px;"> <i class="fas fa-layer-group"></i> Create/Edit Article - <%= !params[:campaign].blank? ? campaign_name(params[:campaign]) : "#{@speech_access_code.title.titlecase}" %> Campaign </span>

  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-sm-12">
        <div class="card" style="border:none;">
          <!-- card-header ends here -->   
          <div class="card-body">
            <%= form_with(model: speech, local: true, id: 'edit-articles') do |form| %>
			<%= hidden_field_tag "UnsavedChanges", "0" %>
            <% unless @speech.new_record? %>    
              <% unless @speech.published? %>   
                <div class="row">
                  <div class="col-md-10 offset-md-1"><span class="table-heading" style="padding: 2px 5px 2px 0px;color:#5C5656;text-align:center;">You must publish this article before your users can listen to it.</span></div> 
                </div>
                <% end %>
              <% end %>            
            <div class="row" style="height:30px;"></div>
            
            <div class="form-group row">
              <div class="mt-2 col-md-3 offset-md-1">
                <span class="label-text">Status</span>
              </div>
              <div class="col-md-7">
	            <span class="col-md-4 text-black table-heading pl-0">
	              <% if @speech.published? %>
	                <%#= link_to("/speeches/published_details/#{@speech.id}",style:"text-decoration:none;",class:"text-black") do %>Published<!% end %>
	              <% else %>
	                <span class="text-black pt-0">Draft</span>
	              <% end %>
	            </span>
              </div>
            </div>
            <div class="form-group row">
              <div class="mt-2 col-md-3 offset-md-1">
                <span class="label-text">Name</span> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Name of an article."><%#= image_tag("/assets/icon-info.png") %></span>
              </div>
              <div class="col-md-7">
                <%= form.text_field :name, id: :article_name, class: 'form-control', value: "#{!@speech.blank? ? @speech.name : ""}", required: true, placeholder: 'Required - Enter Name', readonly: @speech.published? ? true : false %>
              </div>
            </div>
			
            <div class="form-group row">
              <div class="mt-2 col-md-3 offset-md-1">
                <span class="label-text">Intro</span> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Welcoming text at the begining of an article. ex. Hi/Hello/Welcome"><%#= image_tag("/assets/icon-info.png") %></span>
              </div>
              <div class="col-md-7">
                <%= form.text_field :intro, id: :article_intro, class: 'form-control', value: "#{!@speech.blank? ? @speech.intro : ""}", placeholder: 'Optional - Enter Intro', readonly: @speech.published? ? true : false %>
              </div>
            </div>

            <div class="form-group row">
              <div class="mt-2 col-md-3 offset-md-1">
                <span class="label-text">Subject</span> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Title of the article which the skill user will hear before the main content"><%#= image_tag("/assets/icon-info.png") %></span>
              </div>
              <div class="col-md-7">
                <%= form.text_field :title, id: :article_title, class: 'form-control', value: "#{!@speech.blank? ? @speech.title : ""}", required: true, placeholder: 'Required - Enter title', readonly: @speech.published? ? true : false %>
              </div>
            </div>

            <div class="form-group row">
              <div class="mt-2 col-md-3 offset-md-1">
                <span class="label-text">Content</span> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Main content that the skill users will hear"><%#= image_tag("/assets/icon-info.png") %></span>
              </div>
              <div class="col-md-7">
                <%= form.text_area :content, id: :add_speech_content, size: "30x9", class: 'form-control show', placeholder: 'Required - Enter text', readonly: @speech.published? ? true : false %>
                <% unless @speech.published? %>
                  <div class="col-md-8 pl-0" id="textarea_feedback" style="margin-top:10px !important; font-size:14px; font-weight:bold; letter-spacing:0px;"></div>
                  <div class="col-md-12 pl-0" style="margin-top:1px !important; font-size:14px; font-weight:bold; letter-spacing:0px;">All the links/special characters will be ignored in the skill</div>
                <% end %>
              </div>
            </div>
            
            <div class="form-group row">
              <div class="mt-2 col-md-3 offset-md-1">
                <span class="label-text">Outro</span> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Closing text of an article. ex: Bye, See you, Goodbye"><%#= image_tag("/assets/icon-info.png") %></span>
              </div>
              <div class="col-md-7">
                <%= form.text_field :outro, id: :article_outro, class: 'form-control', value: "#{!@speech.blank? ? @speech.outro : ""}", placeholder: 'Optional - Enter Outro', readonly: @speech.published? ? true : false %>
              </div>
            </div>                           

			<%= hidden_field_tag "acc_code_id", "#{params[:campaign]}" %>
            <div class="form-group row">
              <div class="row" style="height:30px;"></div>
            </div>
            <div class="form-group row">
            <div class="actions text-right" style="padding:0 120px 0px 0; position: absolute; bottom: 0; right: 0;">
              <!-- Edit Form cancel button which has the @speech_access_code obj -->
              <% if @speech_access_code.blank? %>
			  	<% p "in if" %>
			  	<% if params[:pg] == "campaign" %>
                	<%= link_to 'Cancel', view_article_path(params[:campaign]), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
			  	<% elsif params[:pg] == "article" %>
                	<%= link_to 'Cancel', speeches_path, class: "btn btn-outline-primary", style:"padding:8px !important;" %>
				<% elsif params[:pg] == "campaign_create" %>
					<%= link_to 'Cancel', edit_access_code_path(current_user.access_code.last), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
				<% elsif params[:pg] == "article_create" %>
					<%= link_to 'Cancel', view_article_path(@speech.hashid, pg: "article_create"), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
				<% else %>
					<%= link_to 'Cancel', edit_access_code_path(current_user.access_code.last), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
				<% end %>
				<span style="padding-left:5px;"></span>
              <% else %>
			  <% p "in else" %>
                <% if params[:pg] == "skill_details" %>
                  <%= link_to 'Cancel', published_skill_details_path, class: "btn btn-outline-primary", style:"padding:8px !important;" %>
					<% elsif params[:pg] == "article" %>
                  		<%= link_to 'Cancel', speeches_path(group_code: @speech_access_code.hashid), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
					<% elsif params[:pg] == "campaign" %>
						<%= link_to 'Cancel', view_article_path(@speech_access_code.id), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
					<% elsif params[:pg] == "camp_article" %>
						<%= link_to 'Cancel', view_article_path(@speech.hashid, pg: "article_create"), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
						<%#= link_to 'Cancel', speeches_path(group_code: @speech_access_code.hashid), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
					<% else %>
						<%= link_to 'Cancel', speeches_path(group_code: @speech_access_code.hashid), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
					<% end %>
				  <span style="padding-left:5px;"></span>
              <% end %>
              <% if @speech.new_record? %>
                <%= form.submit 'Save', id: 'save_content', class:"btn btn-outline-primary", style:"padding:8px!important;" %>
				<span style="padding-left:5px;"></span>
				<span style="padding-left:5px;"></span>
                <%= form.submit 'Publish', id: 'publish_content', class:"btn btn-outline-primary", disabled: true, style:"padding:8px !important;" %>
				<span style="padding-left:5px;"></span>
              <% else %>
                <!-- <audio id="audioPlayback" controls> -->
                <audio id="audioPlayback">
                  <source id="audioSource" type="audio/mp3" src="">
                </audio>
                <button type="button" class="btn btn-outline-primary audioPlayback" style="padding:8px!important; border: 0px solid #61318f !important;" onclick="aud_play_pause()">
                  <span class="play"><i class="fa fa-play-circle fa-lg play" aria-hidden="true"></i></span> Play/Pause
                </button>
				<span style="padding-left:5px;"></span>
                <!-- Commented by Jude on 04/04/2020 to move this button on the list article page based on the discussion on 03/04/2020 -->
                <% unless @speech.published? %>
				  <%= form.submit 'Save', id: 'save_content', class:"btn btn-outline-primary", style:"padding: 8px !important;" %> 
				  <span style="padding-left:5px;"></span>                                     
                  <%= form.submit 'Publish', id: 'publish_content', class:"btn btn-outline-primary", style:"padding: 8px !important;", disabled: @speech.published? ? true : false, data: { confirm: "Warning: \n\n You are going to publish the article. It will be available to your end users for listening. After this step the article can not be edited or un-published.", dismiss: "modal" }, style: "border:none!important;padding:8px!important;" %>
				  <span style="padding-left:5px;"></span>
                <% end %>
              <% end %>
            </div>
            </div>
            <% end %> <!-- form ends here -->
          </div> <!-- card-body ends here --> 
              
          </div> <!-- card-footer ends here --> 
          <div class="form-group row px-5 py-1">
                <p style="padding:0 60px 0 60px; font-size:14px;"><strong>Note:</strong><br/>
                The play-pause function is to give you an idea for how the content will sound in the skill on the voice first device. Here play-pause button can only play the text that is in the content field, however on the device all of the following Title, Intro, Content and Outro will play.</p>
              </div>            
        </div> <!-- card ends here -->
      </div> 
    </div> <!-- row ends here -->
  </div> <!-- container-fliud ends here -->
</div> <!-- container ends here -->


<!-- Modal -->
<div class="modal fade" id="FAQcontentModal-article" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="col-md-6">
            <h5 class="modal-title" id="exampleModalLabel">FAQ</h5>
          </div>
          <div class="col-md-3 text-right" >
            <!-- <audio id="audioPlayback" controls> -->
            <audio id="audioPlayback">
              <source id="audioSource" type="audio/mp3" src="">
            </audio>
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Close">
              <i class="fa fa-times-circle fa-lg"></i> 
            </button>
            </div>
      </div>
      <input type="hidden" id="speech_content" />
      <div id="contentDetails" class="modal-body">
        <%= render "layouts/shared/faq" %>
      </div>
      <div class="modal-footer">
        <div class="col-md-6"></div>
        <div class="col-md-6 offset-md-5 text-right">
          <button type="button" class="btn btn-outline-primary close-modal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

$(document).ready(function() {
  
var text_max = 2999;
$('#textarea_feedback').html(text_max + ' characters remaining (approximate 500 words)');
$('#add_speech_content').keyup(function() {
  var text_length = $('#add_speech_content').val().length;
  var text_remaining = text_max - text_length;
  $('#textarea_feedback').html(text_remaining + ' characters remaining  (approximate. 500 words)');
	if (text_length > 2999) {
      $('#add_speech_content').css('border-color','red');
    } 
    var regex = /[!@#$%ˆ&*()+]|(http|ftp|https)?:\/\/[\-A-Za-z0-9+&@#\/%?=~_|$!:,.;]*/g;
    if($('#add_speech_content').val().match(regex)){
      $('#add_speech_content').css('border-color', 'red');
    }else{
      $('#add_speech_content').css('border-color', '');
    }
  });
});

  // var recognition = new SpeechRecognition();
  // recognition.onresult = function(event) {
  //   if (event.results.length > 0) {
  //     display_speech_content.value = event.results[0][0].transcript;
  //     display_speech_content.form.submit();
  //   }
  // }

  // Initialize the Amazon Cognito credentials provider
  AWS.config.region = 'us-east-1'; 
  AWS.config.credentials = new AWS.CognitoIdentityCredentials({IdentityPoolId: 'us-east-1:4ab148dd-0ed5-4a4e-a211-58fa42678b45'});
  
  // Function invoked by button click
  function speakText() {
      // Create the JSON parameters for getSynthesizeSpeechUrl
      var speechParams = {
          OutputFormat: "mp3",
          SampleRate: "16000",
          Text: "",
          TextType: "text",
          VoiceId: "Joanna"
      };
      //alert(document.getElementById("add_speech_content").value);
      speech_content = document.getElementById("add_speech_content").value
	  speech_intro = document.getElementById("article_intro").value
	  speech_title = document.getElementById("article_title").value
	  speech_outro = document.getElementById("article_outro").value
	  speech_text = speech_content
      speechParams.Text = speech_text.replace(/[!@#$%ˆ&*()+]|(http|ftp|https)?:\/\/[\-A-Za-z0-9+&@#\/%?=~_|$!:,.;]*/g, '');
      //speechParams.Text = $("#contentModal").find('speech_content').val();
      // Create the Polly service object and presigner object
      var polly = new AWS.Polly({apiVersion: '2016-06-10'});
      var signer = new AWS.Polly.Presigner(speechParams, polly)
  
      // Create presigned URL of synthesized speech file
      console.log("signer --" +signer.getSynthesizeSpeechUrl);
      signer.getSynthesizeSpeechUrl(speechParams, function(error, url) {
      if (error) {
          //document.getElementById('result').innerHTML = error;
      } else {
          document.getElementById('audioSource').src = url;
          document.getElementById('audioPlayback').load();
          //document.getElementById('result').innerHTML = "Speech ready to play.";
      }
    });
  }

  function aud_play_pause() {
    var myAudio = document.getElementById("audioPlayback");
    if (myAudio.paused) {
      myAudio.play();
      $(".play").html("").html('<i class="fa fa-pause-circle fa-lg" aria-hidden="true"></i>');
    } else {
      myAudio.pause();
      $(".play").html("").html('<i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>');
    }
    myAudio.onended = function() {
      $(".play").html("").html('<i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>');
    } 
}

// var isSubmitting = false;
// $(document).ready(function () {
//     $('#edit-articles').submit(function(){
//         isSubmitting = true
//     })
//
//     $('#edit-articles').data('initial-state', $('form').serialize());
//
//     $(window).on('beforeunload', function() {
//         if (!isSubmitting && $('#edit-articles').serialize() != $('#edit-articles').data('initial-state')){
//             return 'You have unsaved changes which will not be saved.'
//         }
//     });
	
$(document).ready(function() {
	// var ischanged = false;
	//
	// $('.form-control').change(function () {
	// 	ischanged = true;
	// });
	// window.onbeforeunload = function (e) {
	// 	alert(ischanged);
	// 	if (ischanged) {
	// 		return "Make sure to save all changes.";
	// 	}
	// };
	
	var form = $('#edit-articles'),
	  original = form.serialize()

	form.submit(function(){
	  window.onbeforeunload = null
	})

	window.onbeforeunload = function(){
	  if (form.serialize() != original)
	    return 'Are you sure you want to leave?'
	}
});


</script>