<%= form_with(model: speech, local: true) do |form| %>
  <% if speech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speech.errors.count, "error") %> prohibited this speech from being saved:</h2>

      <ul>
      <% speech.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :code %>
    <%#= form.text_field :code, id: :speech_code %>
  </div>

  <div class="field">
    <%#= form.label :email_address %>
    <%#= form.text_field :email_address, id: :speech_email_address %>
  </div>


<div class="row" style="height:30px;"></div>
<div class="container">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md mr-md-3">
              <div class="card">
                    <div class="card-header text-white"><strong>Add Article</strong></div>
                    <div class="card-body">
                        <div class="form-group row">
                                <div class="mt-2 col-md-3 text-right" style="padding-top:20px;">
                                    <strong>Title</strong>
                                </div>
                                <div class="mt-4 col-md-8 offset-md-1">
                                  <%= form.text_field :title, id: :article_title, class: 'form-control' %>
                                </div>
                            </div>

                        <div class="form-group row">
                                <div class="mt-2 col-md-3 text-right" style="padding-top:60px;">
                                    <strong>Content</strong>
                                </div>
                                <div class="mt-4 col-md-8 offset-md-1">
                                  <%= form.text_area :content, id: :add_speech_content, size: "30x9", class: 'form-control', placeholder: 'Enter the text to convert speech' %>
                                  <div class="mt-4 col-md-8" id="textarea_feedback"></div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="mt-2 col-md-3 text-right" style="padding-top:10px;">
                                    <strong>Select Listener Group</strong>
                                </div>
                                <div class="mt-4 col-md-6 offset-md-1">
                                  <%= select_tag 'acc_code_id', options_for_select(@access_codes.collect{ |c| ["#{c.code} - #{c.title}", c.id]}), prompt: "Select Listener Group Access Code", class: "form-control", disabled:true %>
                                </div>
                                <div class="mt-4 col-md-12"></div>
                                <div class="mt-4 col-md-12 offset-md-11">
                                </div>
                                <div class="actions text-right" style="padding:0 40px 30px 0; position: absolute; bottom: 0; right: 0;">
                                  <%= link_to 'Cancel', speeches_path, class: "btn btn-outline-primary" %>
                                  <%= form.submit 'Publish', id: 'save_content', class:"btn btn-outline-primary", disabled: true %>
                                </div>
                    </div>
              </div>
            </div>
        </div>
    </div> 
</div> 

<% end %>

<script type="text/javascript">
$(document).ready(function() {
$('#add_speech_content').mouseout(function () {
if ($.trim($('#add_speech_content').val()).length > 0)
{
  $("#acc_code_id").prop("disabled", false);
}
});

$("#acc_code_id").change(function(){
  var text_length = $('#add_speech_content').val().length;

  if($(this).val() == ""){
    $("#save_content").prop("disabled", true);
  }
  else {
    if (text_length > 2999) {
      $("#save_content").prop("disabled", true);
    } else { 
      $("#save_content").prop("disabled", false);
    }
  }
});

var text_max = 2999;
$('#textarea_feedback').html(text_max + ' characters remaining');
$('#add_speech_content').keyup(function() {
        var text_length = $('#add_speech_content').val().length;
        var text_remaining = text_max - text_length;
        $('#textarea_feedback').html(text_remaining + ' characters remaining');
        if (text_length > 2999) {
          $("#save_content").prop("disabled", true);
        } else {
          $("#save_content").prop("disabled", false);
        }
    });
});

  var recognition = new SpeechRecognition();
  recognition.onresult = function(event) {
    if (event.results.length > 0) {
      display_speech_content.value = event.results[0][0].transcript;
      display_speech_content.form.submit();
    }
  }


</script>