<%= form_with(model: speech, local: true) do |form| %>

<div class="row" style="height:30px;"></div>
<%#= render "layouts/shared/flash_message" %>
<div class="container">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md mr-md-3">
              <div class="card">
                    <div class="card-header text-white">
                      <div class="row">
                        <div class="col-md-6 table-heading">Campaign: <%= !@speech_access_code.blank? ? @speech_access_code.title.capitalize : !@access_codes.blank? ? @access_codes.last.title : "" %></div>
                        <div class="col-md-6 text-right">
                          <span class="col-md-4 text-light table-heading">
                            <% if @speech.published? %>
                              <%= link_to("/speeches/published_details/#{@speech.id}",style:"text-decoration:none;",class:"text-light") do %>Published<% end %>
                            <% else %>
                              <span class="text-light">Draft</span>
                            <% end %>
                            <span class="col-md-2" style="cursor: pointer;" class="article-show"><i class="fas fa-info-circle fa-lg"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                        <% unless @speech.new_record? %>    
                        <% unless @speech.published? %>   
                        <div class="row">
                          <div class="col-md-10 offset-md-1 btn-outline-light"><h4 style="padding: 2px 5px 2px 0px;color:#5C5656;font-weight:bold;text-align:left;">Click Publish to make this article available to your users.</h4></div>
                        </div> 
                        <% end %>
                        <% end %>            
                        <div class="row" style="height:30px;"></div>

                        <div class="form-group row">
                                <div class="mt-2 col-md-2 offset-md-1">
                                    <strong>Intro</strong> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Welcoming text at the begining of an article. ex. Hi/Hello/Welcome"><%= image_tag("/assets/icon-info.png") %></span>
                                </div>
                                <div class="col-md-8">
                                  <%= form.text_field :intro, id: :article_intro, class: 'form-control', value: "#{!@speech.blank? ? @speech.intro : ""}", placeholder: 'Optional - Enter Intro', readonly: @speech.published? ? true : false %>
                                </div>
                                <div class="mt-2 col-md-1"></div>
                          </div>
                          <div class="form-group row">
                                <div class="mt-2 col-md-2 offset-md-1">
                                    <strong>Title/Subject</strong> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Title of the article which the skill user will hear before the main content"><%= image_tag("/assets/icon-info.png") %></span>
                                </div>
                                <div class="col-md-8">
                                    <%= form.text_field :title, id: :article_title, class: 'form-control required', value: "#{!@speech.blank? ? @speech.title : ""}", required: true, placeholder: 'Required - Enter title', readonly: @speech.published? ? true : false %>
                                </div>
                                <div class="mt-2 col-md-1"></div>
                          </div>

                        <!-- <div class="form-group row">
                                <div class="mt-2 col-md-3 offset-md-1"" style="padding-top:20px;">
                                    <strong>Email From</strong> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Sender information that the skill user will hear this before their content"><i class="fas fa-info-circle fa-lg"></i></span>
                                </div>
                                <div class="col-md-8">
                                  <!% if @speech.published? %>
                                    <p style="padding-top:5px;"><%#= @speech.email_from.blank? ? 'N/A' : @speech.email_from %></p>
                                  <!% else %>
                                    <%#= form.text_field :email_from, id: :article_from, class: 'form-control', value: "#{!@speech.blank? ? @speech.email_from : ""}", placeholder: 'Optional - Enter From' %>
                                  <!% end %>
                                </div>
                            </div> -->

                        <!--  <div class="form-group row">
                                <div class="mt-2 col-md-3 offset-md-1"" style="padding-top:20px;">
                                    <strong>Email Sent On</strong> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Sender information that the skill user will hear this before their content"><i class="fas fa-info-circle fa-lg"></i></span>
                                </div>
                                <div class="col-md-4">
                                  <!% if @speech.published? %>
                                    <p style="padding-top:5px;"><%#= @speech.email_sent_date.blank? ? 'N/A' : @speech.email_sent_date %>
                                  <!% else %>
                                    <%#= form.text_field :email_sent_date, id: :email_sent_date, class: 'form-control', value: "#{!@speech.blank? ? @speech.email_sent_date : ""}", placeholder: 'Choose Date' %>
                                  <!% end %>
                                </div>
                            </div> -->
                          <div class="form-group row">
                                <div class="mt-2 col-md-2 offset-md-1">
                                    <strong>Content</strong> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Main content that the skill users will hear"><%= image_tag("/assets/icon-info.png") %></span>
                                </div>
                                <div class="col-md-8">
                                    <%= form.text_area :content, id: :add_speech_content, size: "30x9", class: 'form-control show', placeholder: 'Enter the text to convert speech', readonly: @speech.published? ? true : false %>
                                    <% unless @speech.published? %>
                                      <div class="col-md-8 pl-0" id="textarea_feedback" style="margin-top:10px !important; font-size:16px; letter-spacing:0px;"></div>
                                      <div class="col-md-12 pl-0" style="margin-top:1px !important; font-size:16px; letter-spacing:0px;">All the links/special characters will be ignored in the audio</div>
                                    <% end %>
                                </div>
                                <div class="mt-2 col-md-1"></div>
                            </div>
                            <div class="form-group row">
                                <div class="mt-2 col-md-2 offset-md-1">
                                    <strong>Outro</strong> <span style="cursor: pointer;" class="show" data-toggle="tooltip" title="Closing text of an article. ex: Bye, See you, Goodbye"><%= image_tag("/assets/icon-info.png") %></span>
                                </div>
                                <div class="col-md-8">
                                  <%= form.text_field :outro, id: :article_outro, class: 'form-control', value: "#{!@speech.blank? ? @speech.outro : ""}", placeholder: 'Optional - Enter Outro', readonly: @speech.published? ? true : false %>
                                </div>
                                <div class="mt-2 col-md-1"></div>
                            </div>                           
                            <div class="form-group row">
                                <div class="mt-2 col-md-2 offset-md-1">
                                    <% if @speech.published? %>
                                      <strong>Listener Group</strong>
                                    <% else %>
                                      <strong>Select Listener Group</strong>
                                    <% end %>
                                </div>
                                <div class="mt-2 col-md-8">
                                  <%= select_tag 'acc_code_id', options_for_select(@access_codes.collect{ |c| ["#{c.code} - #{c.title}", c.id]}, :selected => !@speech_access_code.blank? ? @speech_access_code.id : ''), prompt: "Select Listener Group", class: "form-control required", disabled: true %>
                                </div>
                                <div class="col-md-12" style="height:90px;"></div>
                                <div class="actions text-right align-" style="padding:0 60px 30px 0; position: absolute; bottom: 0; right: 0;">
                                  <!-- Edit Form cancel button which has the @speech_access_code obj -->
                                  <% if @speech_access_code.blank? %>
                                    <%= link_to 'Cancel', speeches_path, class: "btn btn-outline-primary", style:"padding:8px !important;" %>
                                  <% else %>
                                    <% if params[:pg] == "skill_details" %>
                                      <%= link_to 'Cancel', published_skill_details_path, class: "btn btn-outline-primary", style:"padding:8px !important;" %>
                                    <% else %>
                                      <%= link_to 'Cancel', speeches_path(group_code: @speech_access_code.id), class: "btn btn-outline-primary", style:"padding:8px !important;" %>
                                    <% end %>
                                  <% end %>
                                  <% if @speech.new_record? %>
                                    <%= form.submit 'Save', id: 'save_content', class:"btn btn-outline-primary", disabled: true %>
                                    <%= form.submit 'Publish', id: 'publish_content', class:"btn btn-outline-primary", disabled: true %>
                                  <% else %>
                                    <!-- <audio id="audioPlayback" controls> -->
                                    <audio id="audioPlayback">
                                      <source id="audioSource" type="audio/mp3" src="">
                                    </audio>
                                    <!-- <button type="button" class="close audioPlayback play" onclick="aud_play_pause()" style="outline:none !important; padding-right:15px;"><span><i class="fa fa-play-circle fa-lg" aria-hidden="true"></i></span></button> -->
                                    <button type="button" class="btn btn-outline-primary audioPlayback" style="padding:8px!important; border: 1px solid #007bff !important;" onclick="aud_play_pause()">
                                      <span class="play"><i class="fa fa-play-circle fa-lg play" aria-hidden="true"></i></span> Play/Pause
                                    </button>
                                    <!-- Commented by Jude on 04/04/2020 to move this button on the list article page based on the discussion on 03/04/2020 -->
                                    <%#= link_to 'Delete', @speeches, method: :delete, data: {confirm: @speech.published? ? 'This article is already published. Are you sure you want to delete?' : 'Are you sure you want to delete this article?', title: 'Confirm Deletion', commit: 'Yes do it!', cancel: 'Not really!' }, :class => 'btn btn-outline-danger delete-speech', id: "delete-btn" %>
                                    <% unless @speech.published? %>
                                      <%= form.submit 'Save', id: 'save_content', class:"btn btn-outline-primary", disabled: @speech.published? ? true : false %>                                      
                                      <%= form.submit 'Publish', id: 'publish_content', class:"btn btn-outline-primary", disabled: @speech.published? ? true : false %>
                                    <!% else %>
                                      <%#= form.submit 'Publish', id: 'publish_content', class:"btn btn-outline-primary", disabled: true %>
                                    <% end %>
                                  <% end %>
                                </div>
                    </div>
              </div>
            </div>
        </div>
    </div> 
</div> 

<% end %>


<!-- Modal -->
<div class="modal fade" id="FAQcontentModal-article" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="col-md-6">
            <h5 class="modal-title" id="exampleModalLabel">FAQ</h5>
          </div>
          <div class="col-md-3 text-right" >
            <!-- <audio id="audioPlayback" controls> -->
            <audio id="audioPlayback">
              <source id="audioSource" type="audio/mp3" src="">
            </audio>
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Close">
              <i class="fa fa-times-circle fa-lg"></i> 
            </button>
            </div>
      </div>
      <input type="hidden" id="speech_content" />
      <div id="contentDetails" class="modal-body">
        <%= render "layouts/shared/faq" %>
      </div>
      <div class="modal-footer">
        <div class="col-md-6"></div>
        <div class="col-md-6 offset-md-5 text-right">
          <button type="button" class="btn btn-outline-primary close-modal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

$(document).ready(function() {
  
$('#add_speech_content').mouseout(function () {
  if($(this)[0].hasAttribute("readonly") && $(this).attr("readonly").toLowerCase()=='readonly'){
    $("#acc_code_id").prop("disabled", true);
  }else{
      $("#acc_code_id").prop("disabled", false);
  }
});

$("#acc_code_id").change(function(){
  var text_length = $('#add_speech_content').val().length;
  if(text_length == 0){
      $("#save_content").prop("disabled", true);
  }else if (text_length > 2999) {
    $("#save_content").prop("disabled", true);
  } else { 
    if($(this).val() == ""){
      $("#save_content").prop("disabled", true);
    }else{
      $("#save_content").prop("disabled", false);
    }
  }
});

var text_max = 2999;
$('#textarea_feedback').html(text_max + ' characters remaining (Appx. 500 words)');
$('#add_speech_content').keyup(function() {
  var text_length = $('#add_speech_content').val().length;
  var text_remaining = text_max - text_length;
  $('#textarea_feedback').html(text_remaining + ' characters remaining  (Appx. 500 words)');
    if(text_length == 0){
      $("#save_content").prop("disabled", true);
    }else if (text_length > 2999) {
      $('#add_speech_content').css('border-color','red');
      $("#save_content").prop("disabled", true);
    } else {
      if($("#acc_code_id").val() == ""){
        $("#save_content").prop("disabled", true);
      }else{
        $("#save_content").prop("disabled", false);
      }
    }
    var regex = /[!@#$%ˆ&*()+]|(http|ftp|https)?:\/\/[\-A-Za-z0-9+&@#\/%?=~_|$!:,.;]*/g;
    if($('#add_speech_content').val().match(regex)){
      $('#add_speech_content').css('border-color', 'red');
    }else{
      $('#add_speech_content').css('border-color', '');
    }

  });


$('#save_content').click(function(){
  var regex = /[!@#$%ˆ&*()+]|(http|ftp|https)?:\/\/[\-A-Za-z0-9+&@#\/%?=~_|$!:,.;]*/g;
  // if($('#add_speech_content').val().match(regex)){
  //   $('#add_speech_content').css('border-color', 'red');
  //   alert("Uh-Oh! Sorry, links or special characters are not allowed. Please remove them or replace them with text");
  //   return false;
  // }
  //var content = $('#add_speech_content').val();
  //$('#add_speech_content').val(content.replace(/[!@#$%ˆ&*()+]|(http|ftp|https)?:\/\/[\-A-Za-z0-9+&@#\/%?=~_|$!:,.;]*/g, ''));
});

});

  // var recognition = new SpeechRecognition();
  // recognition.onresult = function(event) {
  //   if (event.results.length > 0) {
  //     display_speech_content.value = event.results[0][0].transcript;
  //     display_speech_content.form.submit();
  //   }
  // }

  // Initialize the Amazon Cognito credentials provider
  AWS.config.region = 'us-east-1'; 
  AWS.config.credentials = new AWS.CognitoIdentityCredentials({IdentityPoolId: 'us-east-1:4ab148dd-0ed5-4a4e-a211-58fa42678b45'});
  
  // Function invoked by button click
  function speakText() {
      // Create the JSON parameters for getSynthesizeSpeechUrl
      var speechParams = {
          OutputFormat: "mp3",
          SampleRate: "16000",
          Text: "",
          TextType: "text",
          VoiceId: "Joanna"
      };
      //alert(document.getElementById("add_speech_content").value);
      speech_content = document.getElementById("add_speech_content").value
      speechParams.Text = speech_content.replace(/[!@#$%ˆ&*()+]|(http|ftp|https)?:\/\/[\-A-Za-z0-9+&@#\/%?=~_|$!:,.;]*/g, '');
      //speechParams.Text = $("#contentModal").find('speech_content').val();
      
      // Create the Polly service object and presigner object
      var polly = new AWS.Polly({apiVersion: '2016-06-10'});
      var signer = new AWS.Polly.Presigner(speechParams, polly)
  
      // Create presigned URL of synthesized speech file
      console.log("signer --" +signer.getSynthesizeSpeechUrl);
      signer.getSynthesizeSpeechUrl(speechParams, function(error, url) {
      if (error) {
          //document.getElementById('result').innerHTML = error;
      } else {
          document.getElementById('audioSource').src = url;
          document.getElementById('audioPlayback').load();
          //document.getElementById('result').innerHTML = "Speech ready to play.";
      }
    });
  }

  function aud_play_pause() {
    var myAudio = document.getElementById("audioPlayback");
    if (myAudio.paused) {
      myAudio.play();
      $(".play").html("").html('<i class="fa fa-pause-circle fa-lg" aria-hidden="true"></i>');
    } else {
      myAudio.pause();
      $(".play").html("").html('<i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>');
    }
    myAudio.onended = function() {
      $(".play").html("").html('<i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>');
    } 
}

</script>