<h3>Enter the text to convert speech</h3>

<%= render 'form', speech: @speech %>


<!-- <p id="notice"><%= notice %></p> -->

<h1>Speeches</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Email address</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speeches.each do |speech| %>
      <tr>
        <td><%= speech.code %></td>
        <td><%= speech.email_address %></td>
        <td><%= speech.content %></td>
        <td><%= link_to 'Show', speech %></td>
        <td><%= link_to 'Edit', edit_speech_path(speech) %></td>
        <td><%= link_to 'Destroy', speech, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speech', new_speech_path %>
