<div class="row" style="height:60px;"></div>

<%= render 'form', speech: @speech %>


<!-- <p id="notice"><%= notice %></p> -->
<div class="row" style="height:480px"></div>  
<div class="container" style="width:100%;">
<div class="row justify-content-left">
<div class="card" style="width:100%;">
                    <div class="card-header text-white">List</div>
                    <div class="card-body" style="height:auto;">

<div class="row justify-content-end" style="text-align: right !important;">
<%= will_paginate @speeches, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<table width=100% border=1>
  <thead>
    <tr align="center">
      <th>Code </th>
      <th>Client Access Code</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% @speeches.each do |speech| %>
      <% if speech.is_deleted? %>
      <tr >
        <td class="speech-disabled" style="text-align:center; width: 10%;"><%= speech.email_code %></td>
        <td class="speech-disabled" style="text-align:center; width: 20%;" class="client_access_code_<%=speech.email_code%>"><%= speech.access_code_speech_map.nil? ? '-' : "#{speech.access_code_speech_map.last.access_code.code} - #{ speech.access_code_speech_map.last.access_code.title } " %></td>
        <td style="width: 70%;" class="speech-disabled email_content_<%=speech.email_code%>"><%= speech.content %></td>
        <input type="hidden" class="speech_<%=speech.email_code%>" value="<%= speech.id %>" />
      </tr>
      <% else %>
      <tr>
        <td class="email_code" style="text-decoration: underline; cursor:pointer; text-align:center; width: 10%"><%= speech.email_code %></td>
        <td style="text-align:center; width: 20%" class="client_access_code_<%=speech.email_code%>"><%= speech.access_code_speech_map.nil? ? '-' : "#{speech.access_code_speech_map.last.access_code.code} - #{ speech.access_code_speech_map.last.access_code.title } " %></td>
        <td style="width: 70%" class="email_content_<%=speech.email_code%>"><%= speech.content %></td>
        <input type="hidden" class="speech_<%=speech.email_code%>" value="<%= speech.id %>" />
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br/>

<div class="row justify-content-end" style="text-align: right !important;">
<%= will_paginate @speeches, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

</div>
</div>
</div>
<%#= link_to 'New Speech', new_speech_path %>



<script type="text/javascript">
$(document).ready(function() {
$('#add_speech_content').mouseout(function () {
if ($.trim($('#add_speech_content').val()).length > 0)
{
  $("#acc_code_id").prop("disabled", false);
}
});

$("#acc_code_id").change(function(){
  if($(this).val() == ""){
    $("#save_content").prop("disabled", true);
  }
  else {
    $("#save_content").prop("disabled", false);
  }
});
});

  var recognition = new SpeechRecognition();
  recognition.onresult = function(event) {
    if (event.results.length > 0) {
      display_speech_content.value = event.results[0][0].transcript;
      display_speech_content.form.submit();
    }
  }


</script>




