<div class="row" style="height:60px;"></div>

<%#= render 'form', speech: @speech %>


<!-- <p id="notice"><%= notice %></p> -->
<div id="accordion">
  <% unless @access_codes.blank?
        @access_codes.each_with_index do |ac,indx|
  %>
  <div class="card">
    <div class="card-header" id="heading<%=indx+1%>" class="btn btn-link" data-toggle="collapse" data-target="#collapse<%=indx+1%>" aria-expanded="true" aria-controls="collapse<%=indx+1%>" style="color: #FFF !important; text-decoration: none !important; padding: 10px; !important;">
      <h6>Group Name - <%= ac.title.titlecase %> | Group Code - <%= ac.code %></h6>
    </div>
    <% if indx==0 %>
        <div id="collapse<%=indx+1%>" class="collapse show" aria-labelledby="heading<%=indx+1%>" data-parent="#accordion">
    <% else %>
        <div id="collapse<%=indx+1%>" class="collapse" aria-labelledby="heading<%=indx+1%>" data-parent="#accordion">
    <% end %>
      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <thead class="">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Content</th>
            </tr>
          </thead>
        <% ac.access_code_speech_map.each_with_index do |acsm,indx| %>
          <tbody>
            <tr data-toggle="modal" data-target="#contentModal" data-content="Hello">
              <th scope="row"><%= acsm.speech.id %></th>
              <td><p class="content"><%= acsm.speech.content %></p></td>
            </tr>
          </tbody>
        <% end %>
        </table>
      </div>
    </div>

  </div>
  <br/>
  <% end
    end
  %>
</div>
<%#= link_to 'New Speech', new_speech_path %>
<br/>

<div class="actions text-right" style="padding:0 40px 30px 0; position: absolute; bottom: 0; right: 0;">
<%= link_to 'Add Content', new_speech_path, class: 'btn btn-primary' %>
</div>

<!-- Modal -->
<div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Listen/Delete content</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="contentDetails" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>






