<div class="row" style="height:60px;"></div>

<%#= render 'form', speech: @speech %>


<!-- <p id="notice"><%= notice %></p> -->
<div id="accordion">
  <% unless @access_codes.blank?
        @access_codes.each_with_index do |ac,indx|
  %>
  <div class="card">
    <div class="card-header" id="heading<%=indx+1%>" class="btn btn-link" data-toggle="collapse" data-target="#collapse<%=indx+1%>" aria-expanded="true" aria-controls="collapse<%=indx+1%>" style="color: #FFF !important; text-decoration: none !important; padding: 10px; !important;">
      <div class="row">
      <div class="col-md-6"><h6>Group Name - <%= ac.title.titlecase %> | Group Code - <%= ac.code %></h6></div>
      <div class="col-md-5 text-right"><h6>Published Articles - <%= articlel_count ac.id %></h6></div>
        <div class="col-md-1" style="padding:3px 40px 0 0;"><i class="fas fa-plus float-right "></i></div>
      </div>
    </div>
    <% if indx==0 %>
        <div id="collapse<%=indx+1%>" class="collapse show" aria-labelledby="heading<%=indx+1%>" data-parent="#accordion">
    <% else %>
        <div id="collapse<%=indx+1%>" class="collapse" aria-labelledby="heading<%=indx+1%>" data-parent="#accordion">
    <% end %>
      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <thead class="">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Content</th>
            </tr>
          </thead>
        <% ac.access_code_speech_map.each_with_index do |acsm,indx| %>
          <tbody>
            <tr data-toggle="modal" data-target="#contentModal" data-id=<%= acsm.speech.id %> data-content="<%= acsm.speech.content %>" style="cursor: pointer;">
              <th scope="row"><%= acsm.speech.id %></th>
              <td><p class="content"><%= acsm.speech.content %></p></td>
            </tr>
          </tbody>
        <% end %>
        </table>
      </div>
    </div>

  </div>
  <br/>
  <% end
    end
  %>
</div>
<%#= link_to 'New Speech', new_speech_path %>
<br/>

<div class="actions text-right" style="padding:0 40px 30px 0; position: absolute; bottom: 0; right: 0;">
<%= link_to 'Add Content', new_speech_path, class: 'btn btn-outline-primary' %>
</div>

<!-- Modal -->
<div class="modal fade" id="contentModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Content</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <!-- <audio id="audioPlayback" controls> -->
        <audio id="audioPlayback">
          <source id="audioSource" type="audio/mp3" src="">
        </audio>
        <button type="button" class="btn btn-outline-primary audioPlayback" onclick="aud_play_pause()">Play/Pause</button>
      </div>
      <input type="hidden" id="speech_content" />
      <div id="contentDetails" class="modal-body">
        
      </div>
      <div class="modal-footer">
        <div class="col-md-6">
          <!-- <button type="button" class="btn btn-outline-danger delete_speech" data-confirm="Are you sure?" data-method="delete">Delete</button> -->
          <%= link_to 'Delete', '', method: :delete, confirm: "Are you sure?", :class => 'btn btn-outline-danger delete-speech' %>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2 offset-md-2">
          <button type="button" class="btn btn-outline-primary close-modal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  // Initialize the Amazon Cognito credentials provider
  AWS.config.region = 'us-east-1'; 
  AWS.config.credentials = new AWS.CognitoIdentityCredentials({IdentityPoolId: 'us-east-1:4ab148dd-0ed5-4a4e-a211-58fa42678b45'});
  
  // Function invoked by button click
  function speakText() {
      // Create the JSON parameters for getSynthesizeSpeechUrl
      var speechParams = {
          OutputFormat: "mp3",
          SampleRate: "16000",
          Text: "",
          TextType: "text",
          VoiceId: "Joanna"
      };
      speechParams.Text = document.getElementById("speech_content").value;
      //speechParams.Text = $("#contentModal").find('speech_content').val();
      
      // Create the Polly service object and presigner object
      var polly = new AWS.Polly({apiVersion: '2016-06-10'});
      var signer = new AWS.Polly.Presigner(speechParams, polly)
  
      // Create presigned URL of synthesized speech file
      console.log("signer --" +signer.getSynthesizeSpeechUrl);
      signer.getSynthesizeSpeechUrl(speechParams, function(error, url) {
      if (error) {
          //document.getElementById('result').innerHTML = error;
      } else {
          document.getElementById('audioSource').src = url;
          document.getElementById('audioPlayback').load();
          //document.getElementById('result').innerHTML = "Speech ready to play.";
      }
    });
  }

    function aud_play_pause() {
  var myAudio = document.getElementById("audioPlayback");
  if (myAudio.paused) {
    myAudio.play();
  } else {
    myAudio.pause();
  }
}

</script>




