<div style="height: 60px;"></div>
<div class="container">
<div class="card" style="width:100%;">
    <div class="card-header text-white text-bold">
        <div class="row">
            <div class="col-md-6"></div>
            </div>
    </div>
    <div class="card-body" style="height:auto;">
        <div style=""><h5 style="padding: 2px 5px 2px 5px;color:green;text-align:center;">Congratulation!!! Article was published successfully.</h5></div>
        <div class="row" style="height:30px;"></div>
        <div class="row" style="font-size:18px;">
            <div class="col-md-4 text-right">Skill Name: </div>
            <div class="col-md-6">Voice Chimp <span data-toggle="tooltip" title="This is the name of the skill"><i class="fas fa-info-circle fa-lg"></i></span></div>
        </div>
        <div class="row" style="height:20px;"></div>
        <div class="row" style="font-size:18px;">
            <div class="col-md-4 text-right">Campaign Name: </div>
            <div class="col-md-6"><%= @speech.access_code_speech_map.last.access_code.title %></div>
        </div>
        <div class="row" style="height:20px;"></div>
        <div class="row" style="font-size:18px;">
            <div class="col-md-4 text-right">Article Title: </div>
            <div class="col-md-6"><%= @speech.title %></div>
        </div> 
        <div class="row" style="height:20px;"></div>
        <div class="row" style="font-size:18px;">
            <div class="col-md-4 text-right">Published Date: </div>
            <div class="col-md-6"><%= @speech.updated_at.strftime('%m/%d/%Y') %></div>
        </div> 
        <div class="row" style="height:20px;"></div>
        <div class="row" style="font-size:18px;">
            <div class="col-md-4 text-right">Listener Access Code: </div>
            <div class="col-md-6"><%= @speech.access_code_speech_map.last.access_code.code %></div>
        </div>
        <div class="row" style="height:20px;"></div>
        <div class="row" style="font-size:18px;">
            <div class="col-md-4 text-right">Instructions: </div>
            <div class="col-md-6">
            Share this access code to your audiance/subscribers to access the content from skill.<br/>
            After a user invokes the "Voice Chimp" skill, they will be prompted for the access code - <%= @speech.access_code_speech_map.last.access_code.code %>,
            and then they will be able to  listen to the campaign article "<%= @speech.title %>".
            </div>
        </div>        
    </div>
</div>
</div>