<div style="height: 60px;"></div>
<div class="container">
<div class="card" style="width:100%;">
    <div class="card-header text-white h5">
        <div class="row">
            <div class="col-md-6">Details</div>
            </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-11 offset-md-1 btn-outline-light"><h3 style="padding: 2px 5px 2px 5px;color:#5C5656;font-weight:bold;text-align:left;font-size:28px !important;letter-spacing:.06rem !important;">Congratulations! Article has been published successfully.</h3></div>
        </div>
        <div class="row">
        <!-- column 1 -->
        <div class="col-md-8">
            <div class="row" style="height:30px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Skill Name: </div>
                <div class="col-md-4">Voice Chimp <span data-toggle="tooltip" title="This is the name of the skill"><%= image_tag("/assets/icon-info.png") %></span></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Campaign Name: </div>
                <div class="col-md-4"><%= @speech.access_code_speech_map.last.access_code.title %></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Article Title: </div>
                <div class="col-md-4"><%= @speech.title %></div>
            </div> 
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Published Date: </div>
                <div class="col-md-4"><%= @speech.updated_at.strftime('%m/%d/%Y') %></div>
            </div> 
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Listener Access Code: </div>
                <div class="col-md-4"><%= @speech.access_code_speech_map.last.access_code.code %></div>
            </div>
            <div class="row" style="height:15px;"></div>
            <div class="row">
                <div class="col-md-3 offset-md-1">Instructions: </div>
                <div class="col-md-8">
                    Share this access code to your audiance/subscribers to access the content from skill.<br/>
                    After a user invokes the "Voice Chimp" skill, they will be prompted for the access code - <%= @speech.access_code_speech_map.last.access_code.code %>,
                    and then they will be able to  listen to the campaign article "<%= @speech.title %>".
                </div>
            </div> 
         </div>
         <!-- column 2 -->
        <div class="col-md-4"><div style="padding-top:50px;"><%= image_tag('/assets/amazon-echo-dot.png', :size => "320x320") %> </div></div>

    </div>
</div>

</div>
