<main class="login-form">
    <div class="cotainer">
		<div class="row">
			<div class="col-md-5 offset-md-1">
				<h1 style="font-size:40px!important;font-family: Laila-Bold;color:#043757;">
					Make your subscribers listen to your newsletters, anytime and anywhere.
				</h1>
			</div>
		<div class="col-md-5 left">
        <!-- <div class="justify-content-center"> -->
            <!-- <div class="col-md-5"> -->
				<div>
                <div class="card">
                    <div class="card-header text-black card-heading"><i class="fas fa-user"></i> Sign In</div>
                    <div class="card-body">
                        <%= render "layouts/shared/flash_message" %>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-left label-text">Username</label>
                                <div class="col-md-8">
                                    <%= f.text_field :username, autofocus: true, class: "form-control", autocomplete: "username", required:true %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-left label-text">Password</label>
                                <div class="col-md-8">
                                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required:true %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8 offset-md-4 text-md-right">
			                        <div>
			                          <a href="/secret/new" style="text-decoration:none;color:#696969;" class="content-text"> Forgot Password? </a>
			                        </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">New User? <a href="/signup" style="padding:0 12px 0 3px;text-decoration:none;color:#000;"> Sign Up! </a></div>
                                <div class="col-md-6 text-right">
                                    <%= f.submit "Submit", class: "btn btn-outline-primary sub-heading" do %>
									<i class="fa fa-sign-in-alt"></i>
									<% end %>
                                </div>
                            </div>
                    <% end %>
                    </div>
                    </form>
                    <div class="col-md-11 text-center pt-0" style="text-align:right !important;">
                        <div>
                                    
                                </div>
                    </div>
					<!-- <div class="row">
						<div class="col-sm-6">
						                            <p class="google"></span><small class="pl-3 pr-1">Sign up with google</small></p>
						                        </div>
						                        <div class="col-sm-6">
						                            <p class="fb"><small class="pl-3 pr-1">Sign up with facebook</small></p>
						                        </div>
					</div> -->
                    <!-- <div class="col-md-11 text-center pt-0" style="text-align:right !important;">
                        <div>
                                    Not received confirmation email? <a href="/auth/verification/new" style="padding:0 12px 0 3px;text-decoration:none;"> Re-Send </a>
                                </div>
                    </div> -->
                </div>
                
            </div>
        </div>
	</div>
    </div>
    </div>

</main>
<%#= render "devise/shared/links" %>
