<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header text-white sub-heading"><i class="fas fa-user"></i> Login</div>
                    <div class="card-body">
                        <%= render "layouts/shared/flash_message" %>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right label-text">Username</label>
                                <div class="col-md-7">
                                    <%= f.text_field :username, autofocus: true, class: "form-control", autocomplete: "username" %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right label-text">Password</label>
                                <div class="col-md-7">
                                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                                </div>
                            </div>

                            <!-- <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>-->
                            <div class="form-group row">
                                <label for="" class="col-md-4 col-form-label text-md-right label-text"></label>
                                <div class="col-md-7 text-right">
                                    <%= f.submit "Log in", class: "btn btn-outline-primary" %>
                                </div>
                            </div>
                    <% end %>
                    </div>
                    </form>
                    <div class="col-md-12 text-right pt-0" style="text-align:right !important;">
                        <div class="" style="font-size:14px;padding-right:45px;">
                                    Don't have an account? <a href="https://launchvoicefirst.com/" style="padding:0 6px 0 3px;"> Sign up</a>for early access
                                </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>

</main>