<p><h1>Thanks for signing up!</h1></p>
<p>Hello <%= @resource.username %>!</p>
<p></p>
    <p> Voice Reader provides intuitive browser based tools and services that can make your email newsletters, campaigns, articles and messages accessible to your end users via Smart Speakers (like Alexa and Google Home). </p>
    <p></p>
	<p>Your username - <%= @resource.username %> and email - <%= @resource.email %> </p>
	<p></p>
    <p>	Thanks for your interest in Voice Reader service. Please click the link below to confirm your account: </p>
    <p></p>
	<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
	<p></p>
	<p><h3><b>Your username is <%= @resource.username %>.</b></h3></p>
	<p></p>
    <p> We welcome your feedback and ideas for how you think Voice Reader can be used in your business, processes and daily tasks. Please reply to this email with questions and comments - we read and discuss each email. </p>
    <p>--</p>
    <p>Voice Reader Support Team</p>