<!DOCTYPE html>
<html>
  <head>
    <title>Lvfp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
  
  </head>

  <body>
  <header class="cf header2">
    <%= render 'layouts/shared/navbar' %>
  </header>
    <div class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
    </div>
  </body>
</html>
